h2  Resultados de </br> aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        p.bg-color-dark
          h5 230101261-01
          p.mb-0 Reconocer la importancia del ser humano, sus necesidades, valores y capacidades teniendo en cuenta las dimensiones y el contexto de la atención en los servicios de salud.
           




