.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material 
                    th Enlace del Recurso

            tbody
                tr                    

                    td
                        strong Cadena de favores infinita. 
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=8Gosg1ybxTU ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td
                        strong Gráfica indicador de progreso.
                    td Presentación
                    td 
                        a(href="https://view.genial.ly/5ebf0547a7a2300d93b85063/horizontal-infographic-diagrams-ejemplo-organizacion-ova", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td
                        strong Lineamientos normativos Humanización.
                    td Línea de tiempo
                    td 
                        a(href="https://view.genial.ly/5ebed005a7a2300d93b845d3/horizontal-infographic-timeline-lineamientos-humanizacion", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> ver



                
                        
            