include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Cejudo, R. (2006). Desarrollo humano y capacidades. Aplicaciones de la teoría de las capacidades de Amartya Sen a la educación. Revista española de pedagogía.", "https://dialnet.unirioja.es/descarga/articulo/2083128.pdf")
        +referenciaItem("Constitución Política de Colombia (1991). República de Colombia.", "")
        +referenciaItem("Decreto 1011 de 2008 Sistema Obligatorio Garantía de la Calidad (SOGC). Ministerio de la protección social. Por el cual se establece el Sistema Obligatorio de Garantía de Calidad de la Atención de Salud del Sistema General de Seguridad Social en Salud . Bogota, D. C. 3 de abril de  2006", "https://www.minsalud.gov.co/Normatividad_Nuevo/DECRETO%201011%20DE%202006.pdf")
        +referenciaItem("Echeverría, J. (2003).  La revolución tecnocientífica. Madrid, España: Fondo de Cultura Económica de España.", "")        
        +referenciaItem("Ley 100 de 1993. Congreso de la república de Colombia. Bogotá D.C., 23 de diciembre de 1993.", "https://docs.supersalud.gov.co/PortalWeb/Juridica/Leyes/L0100_93.pdf")
        +referenciaItem("Ley 1164 de 2007. Por la cual se dictan disposiciones en materia del Talento Humano en Salud. Congreso de Colombia. Bogotá D.C. 3 de octubre de 2007.", "https://www.minsalud.gov.co/Normatividad_Nuevo/LEY%201164%20DE%202007.pdf")   
        +referenciaItem("Ley 1438 de 2011. Por medio de la cual se reforma el sistema general de seguridad social en salud y se dictan otras disposiciones. Congreso de Colombia. Bogotá D.C. 19 de enero de 2011.", "https://www.minsalud.gov.co/Normatividad_Nuevo/LEY%201438%20DE%202011.pdf")     
        +referenciaItem("Ley 1955 de 2019 Por el cual se expide el Plan Nacional de Desarrollo 2018-2022 Congreso de Colombia. Bogotá D.C. 19 de enero de 2011.", "https://www.minsalud.gov.co/Normatividad_Nuevo/Ley%201955%20de%202019.pdf")    
        +referenciaItem("Martínez, P (2015), El enfoque de las capacidades de Martha Nussbaum frente el problema de la ética animal. Revista Veritas N 33. Septiembre de 2015.", "")   
        +referenciaItem("Maslow, A. H. (1991). Motivación y personalidad. ", "https://ebookcentral-proquest-com.bdigital.sena.edu.co ")
        +referenciaItem("PAIS. Política de Atención Integral de Salud. “Un sistema de salud al servicio de la gente” (2016). Ministerio de Salud y Protección Social. Online:", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/modelo-pais-2016.pdf")
        +referenciaItem("Plan Nacional de Mejoramiento de la Calidad en Salud (PNMCS) Plan Estratégico 2016-2021. Ministerio de Salud. Versión online:", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/CA/Plan-nacional-de-mejoramiento-calidad.pdf")
        +referenciaItem("Programa Nacional de las Naciones Unidas para el Desarrollo (2004). Informe sobre desarrollo humano.  La libertad cultural en el mundo diverso de hoy. Barcelona, España: Mundi-Prensa Libros. Revista Española de Pedagogía.", "")
        +referenciaItem("Sentencia T-760 2008. Corte Constitucional. Jueves, 31 de Julio de 2008 , M.P: Manuel José Cepeda Espinosa, Tutela T-760 de 2008 , COLOMBIA.", "")
        
        


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            