.container#page-introduccion

    .header-ecored
        h1 2. Lineamientos normativos ser humano en Colombia 

    .jumbotron.bg-white       
      .row.justify-content-center.align-items-center.mb-5 
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_2/info_01.svg", alt="").img-fluid

      .row.justify-content-center.align-items-center.mb-5          
        .col-auto
          .media_link
            a(href="media/documentos/lineamientos_normativos.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Lineamientos normativos humanización]
