include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Humanización de la atención en salud
        meta(meta name="description" content="Informacioón del programa Humanización de la atención en Salud.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Humanización de la atención en salud
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Humanización de la atención en salud
                                        li 
                                            span #[strong Código:] 33110059
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] titulado en educación media con experiencia en el sector salud. 

                    

                            .col-12.col-lg-6
                                <div class="col-12 col-lg-6 text-center">
                                    <div class="d-none d-lg-block"><img class="curso-imagen" src="assets/images/header/header_media.svg" /></div>
                                </div>     


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Cuando hablamos de humanizar la atención en salud, nos referimos a todas aquellas acciones que hacen más cálido, personalizado y digno el cuidado que presta una persona a otra.

                p El presente curso: “Humanización de la atención en Salud”  es el resultado de la alianza entre el Servicio Nacional de Aprendizaje -SENA- y el Ministerio de Salud y Protección Social, en sus esfuerzos por fomentar cultura de humanización.

                p Con el propósito de reconocer al ser humano como el centro de los esfuerzos del sector salud. El ser humano de forma integral, entendiendo su estado permanente de reciprocidad, complementariedad e interdependencia consigo mismo, con otros y su entorno. 

                p El curso se desarrolla por fases, orientado con recursos educativos digitales y múltiples referencias que le permitirán reconocer las diferentes concepciones y enfoques de humanización, analizarlas para apropiarse y permitirle formular una propuesta de aplicación en su entorno laboral, en la que sus propias acciones de humanización favorezcan la atención en los servicios de salud, centrando los esfuerzos en la persona y la familia. 

                p Bienvenido.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Hoy en día factores como el ambiente, la tecnología, la economía, la sociedad, la política, la ciencia y la cultura han generado transformaciones importantes para la humanidad, de estos múltiples factores, el ser humano y el desarrollo de las relaciones interpersonales han pasado a otro plano de importancia. Esta acción de formación pretende reconocer la importancia de generar una cultura de humanización colocando al ser humano como el centro de la atención en salud, en brindar herramientas para el fortalecimiento de relaciones y vínculos entre el talento humano en salud y los usuarios, en generar la reflexión crítica del comportamiento humano, el trato al paciente, el individuo, la familia y la comunidad, y el mejoramiento continuo de la calidad mediante el fortalecimiento de estrategias institucionales, la práctica de valores y principios humanistas, el reconocimiento propio y del otro, de la empatía, autonomía, la vocación y la construcción del trabajo colectivo. Este programa de formación corresponde a la línea de salud en Humanización de la atención en salud, dirigido al talento humano en salud.

        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p La población objeto corresponde al talento humano en salud de todo nivel profesional, de las direcciones territoriales y municipales de salud, IPS, EPS y otras instituciones que estén interesados, con una cobertura a nivel nacional, de acuerdo a los cupos disponibles y acordados con el SENA. 


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el presente curso basado en metodología activa propone abordar una estrategia didáctica basada en el aprendizaje por proyectos, utilizando las etapas, Fase 1: sensibilización y conceptualización, Fase 2: problematización y planeación, Fase 3: diseño y ejecución y Fase 4: socialización y divulgación, para lograr que el aprendiz proponga acciones de aplicación de la humanización en su entorno laboral. Lo anterior, apoyado con recursos educativos digitales, que permiten el uso de técnicas y herramientas pedagógicas que estimulan el análisis y el trabajo colaborativo en ambientes virtuales de aprendizaje. El curso permite relacionar con el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, se pretende la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:



                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor - tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El trabajo colaborativo 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC

        +creditosFooter("assets/images/logos/senaLogo.svg")





