include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Humanización de la atención en salud.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Humanización de la atención en salud
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación Humanización de la atención en salud.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .rutatimeline__wrapper.jumbotron.py-3.px-5

                section#rutatimeline
                    .rutatimeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .rutatimeline-card-wrapper                              
                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Identificar las características (necesidades, valores, capacidades, componentes biopsicosociales) del ser humano  presentes en la atención en salud.
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    p 230101261-01. Reconocer la importancia del ser humano, sus necesidades, valores y capacidades, teniendo en cuenta las dimensiones y el contexto de la atención en los servicios de salud.

                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Contextualización ser humano.
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                     
                                    p #[strong Evidencia de conocimiento] AA1_EV01. Mapa mental. El ser humano y sus componentes esenciales. 

                                    p Instrumento de evaluación: Rúbrica

                                    p #[strong Evidencia de desempeño.] AA1-EV02. Foro: centramos la atención en el ser humano.

                                    p Instrumento de evaluación: rúbrica



                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Relacionar conocimiento previo con propuestas o estrategias que permitan prácticas humanizantes. 
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p 230101261-02. Diseñar estrategias para humanizar los servicios de salud, teniendo en cuenta el reconocimiento de prácticas humanizantes.

                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Humanización en salud
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    
                                    p #[strong Evidencia de desempeño y producto.] AA2-EV01. Árbol de ideas. Situación problema y posibles soluciones con propuestas de humanización
                                    p Instrumento de evaluación: Lista de chequeo

   

                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 03
                                .title-box #[strong Actividad de aprendizaje:] Proponer alternativas de solución a situaciones cotidianas en la prestación de los servicios en salud, utilizando habilidades propias para la atención humanizada. 
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p 230101261-03. Implementar habilidades propias que aporten en la atención humanizada en los servicios de salud, teniendo en cuenta el ser humano, lineamientos normativos y políticas de la organización.

                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Habilidades para la atención humanizada
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    
                                    p #[strong Evidencia de producto.] AA3-EV01. Diagrama. Estrategia de implementación 
                                    p Instrumento de evaluación: lista de verificación.




                        .rutatimeline-card.card--step1
                            .rutatimeline-card__head
                                .number-box
                                    span 04
                                .title-box #[strong Actividad de aprendizaje:] Integrar la humanización en procesos de gestión de calidad  en salud.
                            .rutatimeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    
                                    p 230101261-04.  Humanizar la atención en salud centrada en la persona, teniendo en cuenta habilidades, principios de vida y del trabajo.
                                    
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Atención humanizada centrada en la persona
                                    .tl-hr-divider
                                    p #[strong Evidencias:] 
                                    
                                    p #[strong Evidencia de producto.] AA4-EV01. Documento colaborativo. Consolidación.
                                    p Instrumento de evaluación: lista de verificación.

                                    p #[strong Evidencia de conocimiento:] AA4-EV02. Video presentación.
                                    p Instrumento de evaluación: rúbrica de evaluación.



        
                    .rutatimeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





